<div class="grid">
  <div class="col-12">
    <h2>{{ title }}</h2>

    <ng-template *ngTemplateOutlet="description"></ng-template>
  </div>
</div>

<div class="grid">
  <div class="col-12">
    <p-table
      *ngIf="expenses.length > 0"
      dataKey="id"
      [value]="expenses"
      [styleClass]="'p-datatable-sm'"
    >
      <ng-template
        pTemplate="body"
        let-expense
        let-editing="editing"
        let-rowIndex="rowIndex"
      >
        <tr [pEditableRow]="expense">
          <td [width]="'60%'">
            <!-- EXPENSE TITLE -->
            <h3>{{ expense.title }}</h3>

            <!-- EXPENSE CATEGORY -->
            <p-tag
              [value]="expense.category.title"
              [style]="{ background: expense.category.color }"
            ></p-tag>
          </td>

          <!-- EXPENSE AMOUNT -->
          <td [width]="'30%'">
            <h3>{{ expense.amount | currency : "EUR" : "symbol" : "2.0" }}</h3>
          </td>

          <!-- EDIT/SAVE/CANCEL/DELETE BUTTONS -->
          <td [width]="'10%'" style="text-align: right">
            <div class="flex align-items-center justify-content-center gap-2">
              <button
                pButton
                pRipple
                type="button"
                icon="pi pi-ellipsis-v"
                class="p-button-rounded p-button-text p-button-sm"
                (click)="expenseMenu.toggle($event)"
              ></button>

              <p-overlayPanel #expenseMenu>
                <ng-template pTemplate="content">
                  <ul>
                    <li>
                      <!-- EDIT -->
                      <p-button
                        label="Edit"
                        icon="pi pi-pencil"
                        styleClass="p-button-link"
                        (click)="editExpense(expense)"
                      ></p-button>
                    </li>
                    <li>
                      <!-- DELETE -->
                      <p-button
                        label="Delete"
                        icon="pi pi-trash"
                        styleClass="p-button-link p-button-danger"
                        (click)="deleteExpense(rowIndex)"
                      ></p-button>
                    </li>
                  </ul>
                </ng-template>
              </p-overlayPanel>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>

    <div *ngIf="expenses.length === 0">
      <h1>No expenses found.</h1>
    </div>
  </div>
</div>

<div class="grid">
  <div class="col-12">
    <p-button label="Add Expense" (onClick)="addExpense()"></p-button>
  </div>
</div>

<!-- EDIT EXPENSE SIDEBAR -->
<pft-edit-expense
  *ngIf="currentEditingExpense"
  [expense]="currentEditingExpense"
  (saveExpense)="saveExpense($event)"
  (cancelEditExpense)="cancelEditExpense()"
></pft-edit-expense>
