<div class="grid">
  <div class="col-12">
    <h2>{{ title }}</h2>

    <ng-template *ngTemplateOutlet="description"></ng-template>
  </div>
</div>

<div class="grid">
  <div class="col-12">
    <p-table
      *ngIf="expenses.length > 0"
      dataKey="id"
      [value]="expenses"
      [styleClass]="'p-datatable-sm'"
    >
      <ng-template
        pTemplate="body"
        let-expense
        let-editing="editing"
        let-rowIndex="rowIndex"
      >
        <tr [pEditableRow]="expense">
          <!-- EXPENSE TITLE -->
          <td [width]="'40%'">
            {{ expense.title }}
          </td>

          <!-- EXPENSE CATEGORY -->
          <td [width]="'25%'">
            {{ expense.category.title }}
          </td>

          <!-- EXPENSE AMOUNT -->
          <td [width]="'20%'">
            {{ expense.amount | currency : "EUR" : "symbol" : "2.0" }}
          </td>

          <!-- EDIT/SAVE/CANCEL/DELETE BUTTONS -->
          <td [width]="'15%'" style="text-align: right">
            <div class="flex align-items-center justify-content-center gap-2">
              <!-- EDIT -->
              <button
                *ngIf="!editing"
                pButton
                pRipple
                type="button"
                pInitEditableRow
                pTooltip="Edit Expense"
                tooltipPosition="top"
                icon="pi pi-pencil"
                class="p-button-rounded p-button-text p-button-sm"
                (click)="editExpense(expense)"
              ></button>

              <!-- DELETE -->
              <button
                pButton
                pRipple
                pTooltip="Delete Expense"
                tooltipPosition="top"
                type="button"
                icon="pi pi-trash"
                class="p-button-rounded p-button-text p-button-danger ml-2 p-button-sm"
                (click)="deleteExpense(rowIndex)"
              ></button>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>

    <div *ngIf="expenses.length === 0">
      <h1>No expenses found.</h1>
    </div>
  </div>
</div>

<div class="grid">
  <div class="col-12">
    <p-button label="Add Expense" (onClick)="addExpense()"></p-button>
  </div>
</div>

<!-- EDIT EXPENSE SIDEBAR -->
<pft-edit-expense
  *ngIf="currentEditingExpense"
  [expense]="currentEditingExpense"
  (saveExpense)="saveExpense($event)"
  (cancelEditExpense)="cancelEditExpense()"
></pft-edit-expense>
