<p-sidebar
  *ngIf="expense"
  [visible]="true"
  [position]="(screenSizeService.isMobile$ | async) ? 'bottom' : 'right'"
  (onHide)="cancelEditExpense.emit()"
  class="pft-sidebar-edit-expense"
>
  <div class="grid" pftKeydownStopPropagation>
    <div class="col-12">
      <h3>{{ expense.id ? "Add" : "Edit" }} Expense</h3>

      <div class="grid">
        <div class="col-12">
          <form #expenseForm="ngForm">
            <input
              #expenseTitleInput
              pInputText
              type="text"
              class="p-inputtext-sm"
              placeholder="Expense Title"
              name="title"
              [(ngModel)]="expense.title"
              [style]="{ width: '100%' }"
              required
            />

            <p-dropdown
              [options]="expenseCategories"
              optionLabel="title"
              appendTo="body"
              class="p-inputtext-sm"
              name="category"
              [(ngModel)]="expense.category"
              [style]="{ width: '100%' }"
            ></p-dropdown>

            <p-inputNumber
              mode="currency"
              currency="EUR"
              class="p-inputtext-sm"
              inputStyleClass="w-full"
              name="amount"
              [minFractionDigits]="0"
              [maxFractionDigits]="2"
              [(ngModel)]="expense.amount"
              [required]="true"
            />
          </form>
        </div>
      </div>

      <div class="grid">
        <div class="col-12">
          <p-button
            label="Save"
            (onClick)="handleSaveExpense()"
            [disabled]="!expenseForm.valid"
          ></p-button>
          <p-button
            label="Cancel"
            styleClass="p-button-link"
            (onClick)="cancelEditExpense.emit()"
          ></p-button>
        </div>
        <div class="col-12">
          <p-checkbox
            [(ngModel)]="createAnother"
            [binary]="true"
            inputId="create-another"
          ></p-checkbox>
          <label for="create-another">Create Another</label>
        </div>
      </div>
    </div>
  </div>
</p-sidebar>
