<div class="grid">
  <div class="col-6">
    <p-card>
      <h3 class="m-0">Monthly Income</h3>
      <h1 class="m-0">
        {{ monthlyIncome | currency : "EUR" : "symbol" : "2.0" }}
      </h1>
    </p-card>
  </div>
  <div class="col-6">
    <p-card>
      <h3 class="m-0">Total Monthly Expenses</h3>
      <h1 class="m-0">
        {{
          totalMonthlyExpensesIncludingYearly
            | currency : "EUR" : "symbol" : "2.0"
        }}
      </h1>
    </p-card>
  </div>

  <div class="col-4">
    <p-card> Yearly Expenses </p-card>
  </div>
  <div class="col-4">
    <p-card> Monthly Expenses </p-card>
  </div>
  <div class="col-4">
    <p-card> Monthly Checklist </p-card>
  </div>
</div>

<div class="grid">
  <div class="col-6">
    <pft-monthly-expenses-chart
      [monthlyExpenses]="monthlyExpenses"
    ></pft-monthly-expenses-chart>
  </div>

  <div class="col-6">
    <p-card></p-card>
  </div>
</div>
