<p-card header="Monthly Expenses">
  <p-selectButton
    [options]="chartTypes"
    [(ngModel)]="selectedChartType"
    optionLabel="label"
    optionValue="value"
  ></p-selectButton>

  <ng-container *ngIf="selectedChartType === expenseChartTypeEnum.Pie">
    <p-chart
      [type]="expenseChartTypeEnum.Pie"
      [data]="pieChartData"
      [options]="pieChartOptions"
    ></p-chart>
  </ng-container>

  <ng-container *ngIf="selectedChartType === expenseChartTypeEnum.Bar">
    <p-chart
      [type]="expenseChartTypeEnum.Bar"
      [data]="barChartData"
      [options]="barChartOptions"
    ></p-chart>
  </ng-container>
</p-card>
