<div class="grid">
  <div class="col-12">
    <h2>Step 1: What's your monthly income?</h2>

    <p>
      Let's start by getting a clear picture of your financial situation. Add up
      all of your sources of income, including your salary, side hustles, and
      any other regular payments. This will help you set realistic budgets and
      goals as well as help you prioritize where you want to spend your money.
    </p>

    <p>
      <strong>Pro-tip:</strong> If your income fluctuates a lot, it can be
      helpful to average it out over a few months. This will give you a more
      accurate picture of your true monthly income.
    </p>

    <p-inputNumber
      name="monthlyIncome"
      mode="currency"
      currency="EUR"
      class="p-inputtext-lg"
      [minFractionDigits]="0"
      [maxFractionDigits]="2"
      [(ngModel)]="monthlyIncome"
      (ngModelChange)="monthlyIncomeChange.emit(monthlyIncome)"
    ></p-inputNumber>
  </div>
</div>
